.background {
	color: $color-backgrounds;
	margin: 20px 0;
	width: 100%;
	display: table;

	.container {
		display: table-cell;
		// makes text in Jumbotron goes down to the bittom of a container
		vertical-align: bottom;
		padding-bottom: 20px;

		h1 {
			  color: lighten($blue, 10%);
			//example of Sass buil-in function

			font-family: $font-main;
			font-size: 4rem;
			line-height: 105%;
			margin-bottom: 0;
			padding: 0 10%;
		}

		p {
			padding: 0 10%;
			margin-top: 0;
		}
	}
}

#buttonsTwo 

{
	margin: 20px 20px;

}

.jumbotron {
	@include backImage(
		'../images/piramidesHorizontal_Bright.png',
		// '../images/piramidesHorizontal_BrightSmall.jpg', 
		// this picture could be used to make a website lighter and download it faster but it has worse quality

		650px);
	margin-top: 0;
}

.cafedral {
@include backImage(
		'../images/cathedral_mexico5.png',
		//'../images/cathedral_mexico5Small.jpg',

		// this picture could be used to make a website lighter and download it faster but it has worse quality

		650px);
margin-top: 0;
	
		
}