html {
  font-size: 87%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: $font-main;
  color: $body-font;
  background-color: $color-backgrounds;
}

.container {
  width: 80%;
  margin: 0 auto;
}


